* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
   --hue: 324;

  --primary-color: hsl(var(--hue), 100%, 50%);
  --background-color: hsl(calc(var(--hue) - 17), 100%, 65%, 0.784);
 }


html {
  /* background: url('./assets/fanomas.jpg') no-repeat;
  background-position-x: center;
  background-size: 100%; */
}

html,
body {
  height: 100vh;
}

@font-face {
  font-family: 'Swiss 721 Black Rounded';
  src: URL('./assets/swiss-721-black-rounded-bt.ttf') format('truetype');
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
 }

main {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

#drumTitle {
  width: 90%;
  max-width: 980px;
} 

h1 {
  font-family: 'Swiss 721 Black Rounded';
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0 0 .3rem var(--primary-color);
}

p {
  font-size: 1.4rem;
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 90%;
}

.keys :hover{
   background-color: aquamarine;
 }

.key {
  /* border-radius: 50%; */
  width: 15rem;
  height: 15rem;
  border: .4rem solid black;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 3rem 1rem;
  transition: all .09s ease;

  text-align: center;
  color: white;
  background-color: var(--background-color);
  text-shadow: 0 0 .1rem black;
}

.playing {
  transform: scale(1.9);
  border-color: var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: 'Swiss 721 Black Rounded';
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #000000;
}

footer {
  display: flex;  
  height: 10vh;
  font-size: 1.4rem;
  font-family: 'Swiss 721 Black Rounded';
  align-items: flex-end;
  padding: 2rem;
  text-align: right;
  justify-content: right;
}


@media (max-width:570px) {

  h1 {
    font-size: 3.4rem;
  }

  .keys {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .key {
    width: 10rem;
    height: 10rem;
    font-size: .5rem;
    padding: 2rem 1rem;
  }

  kbd {
    font-size: 2rem;
    padding-bottom: .5rem;
  }

  .sound {
    font-size: 1rem;
  }

  footer {
    font-size: 1.2rem;
  }
}

@media (max-width:1600px) {

  .keys {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-height:760px) {

  .keys {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .key {
    width: 7rem;
    height: 7rem;
    font-size: .4rem;
    padding: 1rem .5rem;
  }

  kbd {
    font-size: 1.3rem;
    padding-bottom: .3rem;
  }

  .sound {
    font-size: .7rem;
  }

  footer {
    padding-top: 1rem;
    font-size: 1rem ;
  }
}